@import '../../style/themes/index.less';
@import '../../style/mixins/index.less';

// 引入组件自己的mixin
@import './mixin.less';

@alert-prefix-cls: ~'@{ant-prefix}-alert';

// 手动填写类名，防止prettier失败
.tdesign-alert {
  // 重置样式
  .reset-component();
  // 默认样式
  .alert();
  // 图标样式，和主体内容有间隔
  &-icon {
    margin-right: @margin-xs;
  }

  &-content {
    flex: 1;
    min-width: 0;
  }
  // 主标题
  &-message {
    color: @alert-message-color;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // 副标题
  &-description {
    // display: none;
    font-size: @font-size-base;
    line-height: @font-size-base + 8px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // alert的不同状态
  &-success {
    background-color: @alert-success-bg-color;
    border: @border-width-base @border-style-base @alert-success-border-color;
    .@{alert-prefix-cls}-icon {
      color: @alert-success-icon-color;
    }
  }

  &-info {
    background-color: @alert-info-bg-color;
    border: @border-width-base @border-style-base @alert-info-border-color;
    .@{alert-prefix-cls}-icon {
      color: @alert-info-icon-color;
    }
  }

  &-warning {
    background-color: @alert-warning-bg-color;
    border: @border-width-base @border-style-base @alert-warning-border-color;
    .@{alert-prefix-cls}-icon {
      color: @alert-warning-icon-color;
    }
  }

  &-error {
    background-color: @alert-error-bg-color;
    border: @border-width-base @border-style-base @alert-error-border-color;

    .@{alert-prefix-cls}-icon {
      color: @alert-error-icon-color;
    }

    .@{alert-prefix-cls}-description > pre {
      margin: 0;
      padding: 0;
    }
  }

  &-action {
    margin-left: @margin-xs;
  }

  // 关闭alert的按钮样式
  &-close-icon {
    margin-left: @margin-xs;
    padding: 0;
    overflow: hidden;
    font-size: @font-size-sm;
    line-height: @font-size-sm;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    .@{iconfont-css-prefix}-close {
      color: @alert-close-color;
      transition: color 0.3s;

      &:hover {
        color: @alert-close-hover-color;
      }
    }
  }

  // 当alert中，存在了描述，那么我们需要从最顶层添加一个类，专门用来控制相关的样式处理
  &-with-description {
    align-items: flex-start;
    padding: @alert-with-description-padding;
  }

  &-with-description&-no-icon {
    padding: @alert-with-description-no-icon-padding-vertical 15px;
  }

  &-with-description &-icon {
    margin-right: @alert-with-description-padding-vertical;
    font-size: @alert-with-description-icon-size;
  }

  &-with-description &-message {
    display: block;
    margin-bottom: 4px;
    color: @alert-message-color;
    font-size: @font-size-lg;
  }

  &-close-text {
    color: @alert-close-color;
    transition: color 0.3s;

    &:hover {
      color: @alert-close-hover-color;
    }
  }

  // banner类型的alert去除边框
  &-banner {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }

  // 消失动画
  &-exit {
    opacity: 1;
    max-height: 200px;
    overflow: hidden;
  }
  &-exit-active {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
    transition: all 300ms @ease-base-out;
  }
  &-exit-done {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
  }
}
